EJBServer/components/MOLSA/axis/ArabdoxIntegration/xsd6.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Model">
<xs:import schemaLocation="xsd4.xsd" namespace="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Enum"/>
<xs:complexType name="ArrayOfArabdoxContainer">
<xs:sequence>
<xs:element minOccurs="0" maxOccurs="unbounded" name="ArabdoxContainer" nillable="true" type="tns:ArabdoxContainer"/>
</xs:sequence>
</xs:complexType>
<xs:element name="ArrayOfArabdoxContainer" nillable="true" type="tns:ArrayOfArabdoxContainer"/>
<xs:complexType name="ArabdoxContainer">
<xs:sequence>
<xs:element minOccurs="0" name="ContainerId" type="xs:int"/>
<xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Enum" minOccurs="0" name="ContainerType" type="q1:ContainerType"/>
<xs:element minOccurs="0" name="Name" nillable="true" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:element name="ArabdoxContainer" nillable="true" type="tns:ArabdoxContainer"/>
<xs:complexType name="ArrayOfDocumentClass">
<xs:sequence>
<xs:element minOccurs="0" maxOccurs="unbounded" name="DocumentClass" nillable="true" type="tns:DocumentClass"/>
</xs:sequence>
</xs:complexType>
<xs:element name="ArrayOfDocumentClass" nillable="true" type="tns:ArrayOfDocumentClass"/>
<xs:complexType name="DocumentClass">
<xs:sequence>
<xs:element minOccurs="0" name="DocumentClassId" type="xs:int"/>
<xs:element minOccurs="0" name="Name" nillable="true" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:element name="DocumentClass" nillable="true" type="tns:DocumentClass"/>
<xs:complexType name="ArrayOfIndexField">
<xs:sequence>
<xs:element minOccurs="0" maxOccurs="unbounded" name="IndexField" nillable="true" type="tns:IndexField"/>
</xs:sequence>
</xs:complexType>
<xs:element name="ArrayOfIndexField" nillable="true" type="tns:ArrayOfIndexField"/>
<xs:complexType name="IndexField">
<xs:sequence>
<xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Enum" minOccurs="0" name="DateFormat" type="q2:DateFormat"/>
<xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Enum" minOccurs="0" name="FieldType" type="q3:IndexFieldType"/>
<xs:element minOccurs="0" name="FieldValue" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="Id" type="xs:int"/>
<xs:element minOccurs="0" name="Name" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="Width" type="xs:int"/>
</xs:sequence>
</xs:complexType>
<xs:element name="IndexField" nillable="true" type="tns:IndexField"/>
<xs:complexType name="DocumentInstance">
<xs:sequence>
<xs:element minOccurs="0" name="Description" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="DocumentClass" nillable="true" type="tns:DocumentClass"/>
<xs:element minOccurs="0" name="DocumentId" type="xs:int"/>
<xs:element minOccurs="0" name="Name" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="OwnerName" nillable="true" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:element name="DocumentInstance" nillable="true" type="tns:DocumentInstance"/>
<xs:complexType name="ArrayOfDocumentFile">
<xs:sequence>
<xs:element minOccurs="0" maxOccurs="unbounded" name="DocumentFile" nillable="true" type="tns:DocumentFile"/>
</xs:sequence>
</xs:complexType>
<xs:element name="ArrayOfDocumentFile" nillable="true" type="tns:ArrayOfDocumentFile"/>
<xs:complexType name="DocumentFile">
<xs:sequence>
<xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string"/>
<xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Enum" minOccurs="0" name="FileType" type="q4:FileType"/>
<xs:element minOccurs="0" name="Serial" type="xs:int"/>
</xs:sequence>
</xs:complexType>
<xs:element name="DocumentFile" nillable="true" type="tns:DocumentFile"/>
</xs:schema>