Development/EJBServer/components/MOLSA/axis/ArabdoxIntegration/xsd9.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Messaging.IndexFieldOperation" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Messaging.IndexFieldOperation">
<xs:import schemaLocation="xsd3.xsd" namespace="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Domain"/>
<xs:import schemaLocation="xsd6.xsd" namespace="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Model"/>
<xs:complexType name="IndexFieldsDcGetRequest">
<xs:complexContent mixed="false">
<xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Domain" base="q1:ValueObjectOfIndexFieldsDcGetRequestqwt_Pe6At">
<xs:sequence>
<xs:element name="ArabdoxSessionKey" nillable="true" type="xs:string"/>
<xs:element name="DocumentClassId" type="xs:int"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:element name="IndexFieldsDcGetRequest" nillable="true" type="tns:IndexFieldsDcGetRequest"/>
<xs:complexType name="IndexFieldGetResponse">
<xs:complexContent mixed="false">
<xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Domain" base="q2:ResponseBase">
<xs:sequence>
<xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Model" minOccurs="0" name="IndexFields" nillable="true" type="q3:ArrayOfIndexField"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:element name="IndexFieldGetResponse" nillable="true" type="tns:IndexFieldGetResponse"/>
<xs:complexType name="IndexFieldsDocumentGetRequest">
<xs:complexContent mixed="false">
<xs:extension xmlns:q4="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Domain" base="q4:ValueObjectOfIndexFieldsDocumentGetRequestqwt_Pe6At">
<xs:sequence>
<xs:element name="ArabdoxSessionKey" nillable="true" type="xs:string"/>
<xs:element name="DocumentId" type="xs:int"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:element name="IndexFieldsDocumentGetRequest" nillable="true" type="tns:IndexFieldsDocumentGetRequest"/>
<xs:complexType name="IndexFieldsSetRequest">
<xs:complexContent mixed="false">
<xs:extension xmlns:q5="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Domain" base="q5:ValueObjectOfIndexFieldsSetRequestqwt_Pe6At">
<xs:sequence>
<xs:element name="ArabdoxSessionKey" nillable="true" type="xs:string"/>
<xs:element name="DocumentId" type="xs:int"/>
<xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Model" name="IndexFields" nillable="true" type="q6:ArrayOfIndexField"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:element name="IndexFieldsSetRequest" nillable="true" type="tns:IndexFieldsSetRequest"/>
</xs:schema>