ESB/MOILib/SASExternalService.wsdl

<?xml version="1.0" encoding="UTF-8"?><definitions name="SASExternalService" targetNamespace="http://ejb.sas.moi.gov.qa/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ejb.sas.moi.gov.qa/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <documentation>
    <appinfo source="WMQI_APPINFO">
      <MRWSDLAppInfo imported="true">
        <binding hasEncoding="false" imported="true" name="SASExternalPortBinding" originalBindingStyle="document"/>
      </MRWSDLAppInfo>
    </appinfo>
  </documentation>
  <types>
    <xsd:schema>
<xsd:import namespace="http://ejb.sas.moi.gov.qa/" schemaLocation="SASExternalService_schema1.xsd"/>
</xsd:schema>
  </types>
  <message name="registerForSocialAffairsInquiry">
    <part element="tns:registerForSocialAffairsInquiry" name="parameters">
    </part>
  </message>
  <message name="getVersion">
    <part element="tns:getVersion" name="parameters">
    </part>
  </message>
  <message name="getPersonalInfoResponse">
    <part element="tns:getPersonalInfoResponse" name="parameters">
    </part>
  </message>
  <message name="getPersonalInfo">
    <part element="tns:getPersonalInfo" name="parameters">
    </part>
  </message>
  <message name="registerForHousingInquiry">
    <part element="tns:registerForHousingInquiry" name="parameters">
    </part>
  </message>
  <message name="cancelSocialAffairsInquiry">
    <part element="tns:cancelSocialAffairsInquiry" name="parameters">
    </part>
  </message>
  <message name="cancelSocialAffairsInquiryResponse">
    <part element="tns:cancelSocialAffairsInquiryResponse" name="parameters">
    </part>
  </message>
  <message name="registerForSocialAffairsInquiryResponse">
    <part element="tns:registerForSocialAffairsInquiryResponse" name="parameters">
    </part>
  </message>
  <message name="cancelHousingInquiryResponse">
    <part element="tns:cancelHousingInquiryResponse" name="parameters">
    </part>
  </message>
  <message name="WSException">
    <part element="tns:WSException" name="fault">
    </part>
  </message>
  <message name="getFamilyInfo">
    <part element="tns:getFamilyInfo" name="parameters">
    </part>
  </message>
  <message name="getFamilyInfoResponse">
    <part element="tns:getFamilyInfoResponse" name="parameters">
    </part>
  </message>
  <message name="registerForHousingInquiryResponse">
    <part element="tns:registerForHousingInquiryResponse" name="parameters">
    </part>
  </message>
  <message name="getVersionResponse">
    <part element="tns:getVersionResponse" name="parameters">
    </part>
  </message>
  <message name="cancelHousingInquiry">
    <part element="tns:cancelHousingInquiry" name="parameters">
    </part>
  </message>
  <portType name="SASExternal">
    <operation name="registerForSocialAffairsInquiry">
      <input message="tns:registerForSocialAffairsInquiry" wsam:Action="http://ejb.sas.moi.gov.qa/SASExternal/registerForSocialAffairsInquiryRequest">
    </input>
      <output message="tns:registerForSocialAffairsInquiryResponse" wsam:Action="http://ejb.sas.moi.gov.qa/SASExternal/registerForSocialAffairsInquiryResponse">
    </output>
      <fault message="tns:WSException" name="WSException" wsam:Action="http://ejb.sas.moi.gov.qa/SASExternal/registerForSocialAffairsInquiry/Fault/WSException">
    </fault>
    </operation>
    <operation name="registerForHousingInquiry">
      <input message="tns:registerForHousingInquiry" wsam:Action="http://ejb.sas.moi.gov.qa/SASExternal/registerForHousingInquiryRequest">
    </input>
      <output message="tns:registerForHousingInquiryResponse" wsam:Action="http://ejb.sas.moi.gov.qa/SASExternal/registerForHousingInquiryResponse">
    </output>
      <fault message="tns:WSException" name="WSException" wsam:Action="http://ejb.sas.moi.gov.qa/SASExternal/registerForHousingInquiry/Fault/WSException">
    </fault>
    </operation>
    <operation name="cancelSocialAffairsInquiry">
      <input message="tns:cancelSocialAffairsInquiry" wsam:Action="http://ejb.sas.moi.gov.qa/SASExternal/cancelSocialAffairsInquiryRequest">
    </input>
      <output message="tns:cancelSocialAffairsInquiryResponse" wsam:Action="http://ejb.sas.moi.gov.qa/SASExternal/cancelSocialAffairsInquiryResponse">
    </output>
      <fault message="tns:WSException" name="WSException" wsam:Action="http://ejb.sas.moi.gov.qa/SASExternal/cancelSocialAffairsInquiry/Fault/WSException">
    </fault>
    </operation>
    <operation name="cancelHousingInquiry">
      <input message="tns:cancelHousingInquiry" wsam:Action="http://ejb.sas.moi.gov.qa/SASExternal/cancelHousingInquiryRequest">
    </input>
      <output message="tns:cancelHousingInquiryResponse" wsam:Action="http://ejb.sas.moi.gov.qa/SASExternal/cancelHousingInquiryResponse">
    </output>
      <fault message="tns:WSException" name="WSException" wsam:Action="http://ejb.sas.moi.gov.qa/SASExternal/cancelHousingInquiry/Fault/WSException">
    </fault>
    </operation>
    <operation name="getPersonalInfo">
      <input message="tns:getPersonalInfo" wsam:Action="http://ejb.sas.moi.gov.qa/SASExternal/getPersonalInfoRequest">
    </input>
      <output message="tns:getPersonalInfoResponse" wsam:Action="http://ejb.sas.moi.gov.qa/SASExternal/getPersonalInfoResponse">
    </output>
      <fault message="tns:WSException" name="WSException" wsam:Action="http://ejb.sas.moi.gov.qa/SASExternal/getPersonalInfo/Fault/WSException">
    </fault>
    </operation>
    <operation name="getFamilyInfo">
      <input message="tns:getFamilyInfo" wsam:Action="http://ejb.sas.moi.gov.qa/SASExternal/getFamilyInfoRequest">
    </input>
      <output message="tns:getFamilyInfoResponse" wsam:Action="http://ejb.sas.moi.gov.qa/SASExternal/getFamilyInfoResponse">
    </output>
      <fault message="tns:WSException" name="WSException" wsam:Action="http://ejb.sas.moi.gov.qa/SASExternal/getFamilyInfo/Fault/WSException">
    </fault>
    </operation>
    <operation name="getVersion">
      <input message="tns:getVersion" wsam:Action="http://ejb.sas.moi.gov.qa/SASExternal/getVersionRequest">
    </input>
      <output message="tns:getVersionResponse" wsam:Action="http://ejb.sas.moi.gov.qa/SASExternal/getVersionResponse">
    </output>
      <fault message="tns:WSException" name="WSException" wsam:Action="http://ejb.sas.moi.gov.qa/SASExternal/getVersion/Fault/WSException">
    </fault>
    </operation>
  </portType>
  <binding name="SASExternalPortBinding" type="tns:SASExternal">

  	<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
  	<operation name="registerForSocialAffairsInquiry">

  		<soap:operation soapAction="http://ejb.sas.moi.gov.qa/registerForSocialAffairsInquiry"/>
  		<input>

  			<soap:body use="literal"/>
  		</input>
  		<output>

  			<soap:body use="literal"/>
  		</output>
  		<fault name="WSException">

  			<soap:fault name="WSException" use="literal"/>
  		</fault>
  	</operation>
  	<operation name="registerForHousingInquiry">

  		<soap:operation soapAction="http://ejb.sas.moi.gov.qa/registerForHousingInquiry"/>
  		<input>

  			<soap:body use="literal"/>
  		</input>
  		<output>

  			<soap:body use="literal"/>
  		</output>
  		<fault name="WSException">

  			<soap:fault name="WSException" use="literal"/>
  		</fault>
  	</operation>
  	<operation name="cancelSocialAffairsInquiry">

  		<soap:operation soapAction="http://ejb.sas.moi.gov.qa/cancelSocialAffairsInquiry"/>
  		<input>

  			<soap:body use="literal"/>
  		</input>
  		<output>

  			<soap:body use="literal"/>
  		</output>
  		<fault name="WSException">

  			<soap:fault name="WSException" use="literal"/>
  		</fault>
  	</operation>
  	<operation name="cancelHousingInquiry">

  		<soap:operation soapAction="http://ejb.sas.moi.gov.qa/cancelHousingInquiry"/>
  		<input>

  			<soap:body use="literal"/>
  		</input>
  		<output>

  			<soap:body use="literal"/>
  		</output>
  		<fault name="WSException">

  			<soap:fault name="WSException" use="literal"/>
  		</fault>
  	</operation>
  	<operation name="getPersonalInfo">

  		<soap:operation soapAction="http://ejb.sas.moi.gov.qa/getPersonalInfo"/>
  		<input>

  			<soap:body use="literal"/>
  		</input>
  		<output>

  			<soap:body use="literal"/>
  		</output>
  		<fault name="WSException">

  			<soap:fault name="WSException" use="literal"/>
  		</fault>
  	</operation>
  	<operation name="getFamilyInfo">

  		<soap:operation soapAction="http://ejb.sas.moi.gov.qa/getFamilyInfo"/>
  		<input>

  			<soap:body use="literal"/>
  		</input>
  		<output>

  			<soap:body use="literal"/>
  		</output>
  		<fault name="WSException">

  			<soap:fault name="WSException" use="literal"/>
  		</fault>
  	</operation>
  	<operation name="getVersion">

  		<soap:operation soapAction="http://ejb.sas.moi.gov.qa/getVersion"/>
  		<input>

  			<soap:body use="literal"/>
  		</input>
  		<output>

  			<soap:body use="literal"/>
  		</output>
  		<fault name="WSException">

  			<soap:fault name="WSException" use="literal"/>
  		</fault>
  	</operation>
  </binding>
  <service name="SASExternalService">
    <port binding="tns:SASExternalPortBinding" name="SASExternalPort">
      <soap:address location="http://ztest.moi.gov.qa:80/SASExternal_HTTPRouter/SASExternalService"/>
    </port>
  </service>
</definitions>