ESB/MOILib/SASExternalService_schema1.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema targetNamespace="http://ejb.sas.moi.gov.qa/" version="1.0" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:tns="http://ejb.sas.moi.gov.qa/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

  <xsd:element ibmSchExtn:docRoot="true" name="WSException" type="tns:WSException"/>

  <xsd:element ibmSchExtn:docRoot="true" name="cancelHousingInquiry" type="tns:cancelHousingInquiry"/>

  <xsd:element ibmSchExtn:docRoot="true" name="cancelHousingInquiryResponse" type="tns:cancelHousingInquiryResponse"/>

  <xsd:element ibmSchExtn:docRoot="true" name="cancelSocialAffairsInquiry" type="tns:cancelSocialAffairsInquiry"/>

  <xsd:element ibmSchExtn:docRoot="true" name="cancelSocialAffairsInquiryResponse" type="tns:cancelSocialAffairsInquiryResponse"/>

  <xsd:element ibmSchExtn:docRoot="true" name="getFamilyInfo" type="tns:getFamilyInfo"/>

  <xsd:element ibmSchExtn:docRoot="true" name="getFamilyInfoResponse" type="tns:getFamilyInfoResponse"/>

  <xsd:element ibmSchExtn:docRoot="true" name="getPersonalInfo" type="tns:getPersonalInfo"/>

  <xsd:element ibmSchExtn:docRoot="true" name="getPersonalInfoResponse" type="tns:getPersonalInfoResponse"/>

  <xsd:element ibmSchExtn:docRoot="true" name="getVersion" type="tns:getVersion"/>

  <xsd:element ibmSchExtn:docRoot="true" name="getVersionResponse" type="tns:getVersionResponse"/>

  <xsd:element ibmSchExtn:docRoot="true" name="registerForHousingInquiry" type="tns:registerForHousingInquiry"/>

  <xsd:element ibmSchExtn:docRoot="true" name="registerForHousingInquiryResponse" type="tns:registerForHousingInquiryResponse"/>

  <xsd:element ibmSchExtn:docRoot="true" name="registerForSocialAffairsInquiry" type="tns:registerForSocialAffairsInquiry"/>

  <xsd:element ibmSchExtn:docRoot="true" name="registerForSocialAffairsInquiryResponse" type="tns:registerForSocialAffairsInquiryResponse"/>

  <xsd:complexType name="getFamilyInfo">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="arg0" type="xsd:string"/>
      <xsd:element minOccurs="0" name="arg1" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="getFamilyInfoResponse">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="tns:familyDto"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="familyDto">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="divorceCertificateNumber" type="xsd:string"/>
      <xsd:element minOccurs="0" name="divorceDate" type="xsd:string"/>
      <xsd:element minOccurs="0" name="fatherQid" type="xsd:string"/>
      <xsd:element minOccurs="0" name="marriageCertificateNumber" type="xsd:string"/>
      <xsd:element minOccurs="0" name="marriageDate" type="xsd:string"/>
      <xsd:element minOccurs="0" name="motherQid" type="xsd:string"/>
      <xsd:element minOccurs="0" name="personInfoDto" type="tns:personInfoDto"/>
      <xsd:element minOccurs="0" name="personQid" type="xsd:string"/>
      <xsd:element minOccurs="0" name="relationCode" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="personInfoDto">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="arFullName" type="xsd:string"/>
      <xsd:element minOccurs="0" name="arName1" type="xsd:string"/>
      <xsd:element minOccurs="0" name="arName2" type="xsd:string"/>
      <xsd:element minOccurs="0" name="arName3" type="xsd:string"/>
      <xsd:element minOccurs="0" name="arName4" type="xsd:string"/>
      <xsd:element minOccurs="0" name="arName5" type="xsd:string"/>
      <xsd:element minOccurs="0" name="birthDate" type="xsd:string"/>
      <xsd:element name="daysIn" type="xsd:int"/>
      <xsd:element name="daysOut" type="xsd:int"/>
      <xsd:element minOccurs="0" name="enName1" type="xsd:string"/>
      <xsd:element minOccurs="0" name="enName2" type="xsd:string"/>
      <xsd:element minOccurs="0" name="enName3" type="xsd:string"/>
      <xsd:element minOccurs="0" name="enName4" type="xsd:string"/>
      <xsd:element minOccurs="0" name="enName5" type="xsd:string"/>
      <xsd:element minOccurs="0" name="idCardExpiryDate" type="xsd:string"/>
      <xsd:element minOccurs="0" name="nationalityCode" type="xsd:string"/>
      <xsd:element minOccurs="0" name="nationalityDate" type="xsd:string"/>
      <xsd:element minOccurs="0" name="nationalityType" type="xsd:string"/>
      <xsd:element minOccurs="0" name="personQid" type="xsd:string"/>
      <xsd:element minOccurs="0" name="prevNationalityCode" type="xsd:string"/>
      <xsd:element minOccurs="0" name="sexCode" type="xsd:string"/>
      <xsd:element minOccurs="0" name="statusCode" type="xsd:string"/>
      <xsd:element minOccurs="0" name="statusDate" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="WSException">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="exceptionArabicMessage" type="xsd:string"/>
      <xsd:element minOccurs="0" name="exceptionCode" type="xsd:string"/>
      <xsd:element minOccurs="0" name="exceptionEnglishMessage" type="xsd:string"/>
      <xsd:element minOccurs="0" name="message" type="xsd:string"/>
      <xsd:element minOccurs="0" name="notes" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="getPersonalInfo">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="arg0" type="xsd:string"/>
      <xsd:element minOccurs="0" name="arg1" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="getPersonalInfoResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="return" type="tns:personInfoDto"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="cancelHousingInquiry">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="arg0" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="cancelHousingInquiryResponse">
    <xsd:sequence>
      <xsd:element name="return" type="xsd:boolean"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="registerForHousingInquiry">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="arg0" type="xsd:string"/>
      <xsd:element minOccurs="0" name="arg1" type="xsd:string"/>
      <xsd:element minOccurs="0" name="arg2" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="registerForHousingInquiryResponse">
    <xsd:sequence>
      <xsd:element name="return" type="xsd:boolean"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="registerForSocialAffairsInquiry">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="arg0" type="xsd:string"/>
      <xsd:element minOccurs="0" name="arg1" type="xsd:string"/>
      <xsd:element minOccurs="0" name="arg2" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="registerForSocialAffairsInquiryResponse">
    <xsd:sequence>
      <xsd:element name="return" type="xsd:boolean"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="cancelSocialAffairsInquiry">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="arg0" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="cancelSocialAffairsInquiryResponse">
    <xsd:sequence>
      <xsd:element name="return" type="xsd:boolean"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="getVersion">
    <xsd:sequence/>
  </xsd:complexType>

  <xsd:complexType name="getVersionResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="return" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>