SSAS/Development/EJBServer/components/MOLSA/axis/ArabdoxIntegration/xsd0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tempuri.org/">
	<xs:import schemaLocation="xsd2.xsd" namespace="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Messaging.SessionOperation"/>
	<xs:import schemaLocation="xsd5.xsd" namespace="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Messaging.FolderOperation"/>
	<xs:import schemaLocation="xsd7.xsd" namespace="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Messaging"/>
	<xs:import schemaLocation="xsd8.xsd" namespace="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Messaging.DocumentOperation"/>
	<xs:import schemaLocation="xsd9.xsd" namespace="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Messaging.IndexFieldOperation"/>
	<xs:import schemaLocation="xsd10.xsd" namespace="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Messaging.DocumentFileOperation"/>
	<xs:import schemaLocation="xsd11.xsd" namespace="http://schemas.microsoft.com/Message"/>
	<xs:import schemaLocation="xsd4.xsd" namespace="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Enum"/>
	<xs:element name="LoginToArabdox">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="loginRequest" nillable="true" type="q1:LoginRequest" xmlns:q1="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Messaging.SessionOperation"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="LoginToArabdoxResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="LoginToArabdoxResult" nillable="true" type="q2:LoginResponse" xmlns:q2="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Messaging.SessionOperation"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="LogoutFromArabdox">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="logoutRequest" nillable="true" type="q3:LogoutRequest" xmlns:q3="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Messaging.SessionOperation"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="LogoutFromArabdoxResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="LogoutFromArabdoxResult" nillable="true" type="q4:LogoutResponse" xmlns:q4="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Messaging.SessionOperation"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetCabinets">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="request" nillable="true" type="q5:CabinetsGetRequest" xmlns:q5="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Messaging.FolderOperation"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetCabinetsResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="GetCabinetsResult" nillable="true" type="q6:ArabdoxConatinerGetResponse" xmlns:q6="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Messaging.FolderOperation"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetFolders">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="request" nillable="true" type="q7:FoldersGetRequest" xmlns:q7="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Messaging.FolderOperation"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetFoldersResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="GetFoldersResult" nillable="true" type="q8:ArabdoxConatinerGetResponse" xmlns:q8="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Messaging.FolderOperation"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CreateFolder">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="request" nillable="true" type="q9:FolderCreateRequest" xmlns:q9="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Messaging.FolderOperation"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CreateFolderResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="CreateFolderResult" nillable="true" type="q10:FolderCreateResponse" xmlns:q10="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Messaging.FolderOperation"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DeleteFolder">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="request" nillable="true" type="q11:FolderDeleteRequest" xmlns:q11="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Messaging.FolderOperation"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DeleteFolderResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="DeleteFolderResult" nillable="true" type="q12:ArabdoxOpreationResponse" xmlns:q12="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Messaging"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetDocumentClasses">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="request" nillable="true" type="q13:DocumentClassGetRequest" xmlns:q13="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Messaging.DocumentOperation"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetDocumentClassesResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="GetDocumentClassesResult" nillable="true" type="q14:DocumentClassGetResponse" xmlns:q14="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Messaging.DocumentOperation"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetDocumentClassIndexFields">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="request" nillable="true" type="q15:IndexFieldsDcGetRequest" xmlns:q15="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Messaging.IndexFieldOperation"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetDocumentClassIndexFieldsResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="GetDocumentClassIndexFieldsResult" nillable="true" type="q16:IndexFieldGetResponse" xmlns:q16="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Messaging.IndexFieldOperation"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CreateDocument">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="request" nillable="true" type="q17:DocumentCreateRequest" xmlns:q17="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Messaging.DocumentOperation"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CreateDocumentResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="CreateDocumentResult" nillable="true" type="q18:DocumentCreateResponse" xmlns:q18="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Messaging.DocumentOperation"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetDocument">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="request" nillable="true" type="q19:DocumentGetRequest" xmlns:q19="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Messaging.DocumentOperation"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetDocumentResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="GetDocumentResult" nillable="true" type="q20:DocumentGetResponse" xmlns:q20="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Messaging.DocumentOperation"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DeleteDocument">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="request" nillable="true" type="q21:DocumentDeleteRequest" xmlns:q21="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Messaging.DocumentOperation"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DeleteDocumentResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="DeleteDocumentResult" nillable="true" type="q22:ArabdoxOpreationResponse" xmlns:q22="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Messaging"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetDocumentIndexFields">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="request" nillable="true" type="q23:IndexFieldsDocumentGetRequest" xmlns:q23="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Messaging.IndexFieldOperation"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetDocumentIndexFieldsResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="GetDocumentIndexFieldsResult" nillable="true" type="q24:IndexFieldGetResponse" xmlns:q24="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Messaging.IndexFieldOperation"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SetIndexFieldsValues">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="request" nillable="true" type="q25:IndexFieldsSetRequest" xmlns:q25="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Messaging.IndexFieldOperation"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SetIndexFieldsValuesResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="SetIndexFieldsValuesResult" nillable="true" type="q26:ArabdoxOpreationResponse" xmlns:q26="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Messaging"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetDocumentFiles">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="request" nillable="true" type="q27:DocumentFilesGetRequest" xmlns:q27="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Messaging.DocumentFileOperation"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetDocumentFilesResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="GetDocumentFilesResult" nillable="true" type="q28:DocumentFilesGetResponse" xmlns:q28="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Messaging.DocumentFileOperation"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DocumentFileLoadRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="DocumentLoadInformation" nillable="true" type="q29:DocumentLoadInformation" xmlns:q29="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Messaging.DocumentFileOperation"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DocumentFileLoadResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="FileStream" type="q30:StreamBody" xmlns:q30="http://schemas.microsoft.com/Message"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="LoadResponseInfo" nillable="true" type="q31:LoadResponseInfo" xmlns:q31="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Messaging.DocumentFileOperation"/>
	<xs:element name="LoadDocumentFileThroughWeb">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="request" nillable="true" type="q32:DocumentFileWebLoadRequest" xmlns:q32="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Messaging.DocumentFileOperation"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="LoadDocumentFileThroughWebResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="LoadDocumentFileThroughWebResult" nillable="true" type="q33:DocumentFileLoadWebResponse" xmlns:q33="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Messaging.DocumentFileOperation"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DeleteDocumentFile">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="request" nillable="true" type="q34:DocumentFileDeleteRequest" xmlns:q34="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Messaging.DocumentFileOperation"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DeleteDocumentFileResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="DeleteDocumentFileResult" nillable="true" type="q35:ArabdoxOpreationResponse" xmlns:q35="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Messaging"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CreateDocumentEx">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="request" nillable="true" type="q36:DocumentCreateFullRequest" xmlns:q36="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Messaging.DocumentOperation"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CreateDocumentExResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="CreateDocumentExResult" nillable="true" type="q37:DocumentCreateResponse" xmlns:q37="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Messaging.DocumentOperation"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="AddLinkedDocuments">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="request" nillable="true" type="q38:LinkedDocumentsAddRequest" xmlns:q38="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Messaging"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="AddLinkedDocumentsResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="AddLinkedDocumentsResult" nillable="true" type="q39:ArabdoxOpreationResponse" xmlns:q39="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Messaging"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DocumentFileAddRequestEx">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="InputFile" type="q40:StreamBody" xmlns:q40="http://schemas.microsoft.com/Message"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DocumentInformation" nillable="true" type="q41:DocumentInfo" xmlns:q41="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Messaging"/>
	<xs:element name="DocumentFileAddResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="ErrorCode" type="q42:ErrorCode" xmlns:q42="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Enum"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ResponseType" type="q43:ResponseType" xmlns:q43="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Enum"/>
</xs:schema>