SSAS/Development/EJBServer/components/MOLSA/axis/ArabdoxIntegration/xsd0.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
<xs:import schemaLocation="http://sakhr-daf-02mos:8080/ArabdoxIntegration?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Messaging.SessionOperation"/>
<xs:import schemaLocation="http://sakhr-daf-02mos:8080/ArabdoxIntegration?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Messaging.FolderOperation"/>
<xs:import schemaLocation="http://sakhr-daf-02mos:8080/ArabdoxIntegration?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Messaging"/>
<xs:import schemaLocation="http://sakhr-daf-02mos:8080/ArabdoxIntegration?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Messaging.DocumentOperation"/>
<xs:import schemaLocation="http://sakhr-daf-02mos:8080/ArabdoxIntegration?xsd=xsd9" namespace="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Messaging.IndexFieldOperation"/>
<xs:import schemaLocation="http://sakhr-daf-02mos:8080/ArabdoxIntegration?xsd=xsd10" namespace="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Messaging.DocumentFileOperation"/>
<xs:import schemaLocation="http://sakhr-daf-02mos:8080/ArabdoxIntegration?xsd=xsd11" namespace="http://schemas.microsoft.com/Message"/>
<xs:import schemaLocation="http://sakhr-daf-02mos:8080/ArabdoxIntegration?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Enum"/>
<xs:element name="LoginToArabdox">
<xs:complexType>
<xs:sequence>
<xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Messaging.SessionOperation" minOccurs="0" name="loginRequest" nillable="true" type="q1:LoginRequest"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="LoginToArabdoxResponse">
<xs:complexType>
<xs:sequence>
<xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Messaging.SessionOperation" minOccurs="0" name="LoginToArabdoxResult" nillable="true" type="q2:LoginResponse"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="LogoutFromArabdox">
<xs:complexType>
<xs:sequence>
<xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Messaging.SessionOperation" minOccurs="0" name="logoutRequest" nillable="true" type="q3:LogoutRequest"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="LogoutFromArabdoxResponse">
<xs:complexType>
<xs:sequence>
<xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Messaging.SessionOperation" minOccurs="0" name="LogoutFromArabdoxResult" nillable="true" type="q4:LogoutResponse"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="GetCabinets">
<xs:complexType>
<xs:sequence>
<xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Messaging.FolderOperation" minOccurs="0" name="request" nillable="true" type="q5:CabinetsGetRequest"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="GetCabinetsResponse">
<xs:complexType>
<xs:sequence>
<xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Messaging.FolderOperation" minOccurs="0" name="GetCabinetsResult" nillable="true" type="q6:ArabdoxConatinerGetResponse"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="GetFolders">
<xs:complexType>
<xs:sequence>
<xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Messaging.FolderOperation" minOccurs="0" name="request" nillable="true" type="q7:FoldersGetRequest"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="GetFoldersResponse">
<xs:complexType>
<xs:sequence>
<xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Messaging.FolderOperation" minOccurs="0" name="GetFoldersResult" nillable="true" type="q8:ArabdoxConatinerGetResponse"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="CreateFolder">
<xs:complexType>
<xs:sequence>
<xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Messaging.FolderOperation" minOccurs="0" name="request" nillable="true" type="q9:FolderCreateRequest"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="CreateFolderResponse">
<xs:complexType>
<xs:sequence>
<xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Messaging.FolderOperation" minOccurs="0" name="CreateFolderResult" nillable="true" type="q10:FolderCreateResponse"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="DeleteFolder">
<xs:complexType>
<xs:sequence>
<xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Messaging.FolderOperation" minOccurs="0" name="request" nillable="true" type="q11:FolderDeleteRequest"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="DeleteFolderResponse">
<xs:complexType>
<xs:sequence>
<xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Messaging" minOccurs="0" name="DeleteFolderResult" nillable="true" type="q12:ArabdoxOpreationResponse"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="GetDocumentClasses">
<xs:complexType>
<xs:sequence>
<xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Messaging.DocumentOperation" minOccurs="0" name="request" nillable="true" type="q13:DocumentClassGetRequest"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="GetDocumentClassesResponse">
<xs:complexType>
<xs:sequence>
<xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Messaging.DocumentOperation" minOccurs="0" name="GetDocumentClassesResult" nillable="true" type="q14:DocumentClassGetResponse"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="GetDocumentClassIndexFields">
<xs:complexType>
<xs:sequence>
<xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Messaging.IndexFieldOperation" minOccurs="0" name="request" nillable="true" type="q15:IndexFieldsDcGetRequest"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="GetDocumentClassIndexFieldsResponse">
<xs:complexType>
<xs:sequence>
<xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Messaging.IndexFieldOperation" minOccurs="0" name="GetDocumentClassIndexFieldsResult" nillable="true" type="q16:IndexFieldGetResponse"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="CreateDocument">
<xs:complexType>
<xs:sequence>
<xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Messaging.DocumentOperation" minOccurs="0" name="request" nillable="true" type="q17:DocumentCreateRequest"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="CreateDocumentResponse">
<xs:complexType>
<xs:sequence>
<xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Messaging.DocumentOperation" minOccurs="0" name="CreateDocumentResult" nillable="true" type="q18:DocumentCreateResponse"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="GetDocument">
<xs:complexType>
<xs:sequence>
<xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Messaging.DocumentOperation" minOccurs="0" name="request" nillable="true" type="q19:DocumentGetRequest"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="GetDocumentResponse">
<xs:complexType>
<xs:sequence>
<xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Messaging.DocumentOperation" minOccurs="0" name="GetDocumentResult" nillable="true" type="q20:DocumentGetResponse"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="DeleteDocument">
<xs:complexType>
<xs:sequence>
<xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Messaging.DocumentOperation" minOccurs="0" name="request" nillable="true" type="q21:DocumentDeleteRequest"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="DeleteDocumentResponse">
<xs:complexType>
<xs:sequence>
<xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Messaging" minOccurs="0" name="DeleteDocumentResult" nillable="true" type="q22:ArabdoxOpreationResponse"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="GetDocumentIndexFields">
<xs:complexType>
<xs:sequence>
<xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Messaging.IndexFieldOperation" minOccurs="0" name="request" nillable="true" type="q23:IndexFieldsDocumentGetRequest"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="GetDocumentIndexFieldsResponse">
<xs:complexType>
<xs:sequence>
<xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Messaging.IndexFieldOperation" minOccurs="0" name="GetDocumentIndexFieldsResult" nillable="true" type="q24:IndexFieldGetResponse"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="SetIndexFieldsValues">
<xs:complexType>
<xs:sequence>
<xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Messaging.IndexFieldOperation" minOccurs="0" name="request" nillable="true" type="q25:IndexFieldsSetRequest"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="SetIndexFieldsValuesResponse">
<xs:complexType>
<xs:sequence>
<xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Messaging" minOccurs="0" name="SetIndexFieldsValuesResult" nillable="true" type="q26:ArabdoxOpreationResponse"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="GetDocumentFiles">
<xs:complexType>
<xs:sequence>
<xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Messaging.DocumentFileOperation" minOccurs="0" name="request" nillable="true" type="q27:DocumentFilesGetRequest"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="GetDocumentFilesResponse">
<xs:complexType>
<xs:sequence>
<xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Messaging.DocumentFileOperation" minOccurs="0" name="GetDocumentFilesResult" nillable="true" type="q28:DocumentFilesGetResponse"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="DocumentFileLoadRequest">
<xs:complexType>
<xs:sequence>
<xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Messaging.DocumentFileOperation" minOccurs="0" name="DocumentLoadInformation" nillable="true" type="q29:DocumentLoadInformation"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="DocumentFileLoadResponse">
<xs:complexType>
<xs:sequence>
<xs:element xmlns:q30="http://schemas.microsoft.com/Message" name="FileStream" type="q30:StreamBody"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Messaging.DocumentFileOperation" name="LoadResponseInfo" nillable="true" type="q31:LoadResponseInfo"/>
<xs:element name="LoadDocumentFileThroughWeb">
<xs:complexType>
<xs:sequence>
<xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Messaging.DocumentFileOperation" minOccurs="0" name="request" nillable="true" type="q32:DocumentFileWebLoadRequest"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="LoadDocumentFileThroughWebResponse">
<xs:complexType>
<xs:sequence>
<xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Messaging.DocumentFileOperation" minOccurs="0" name="LoadDocumentFileThroughWebResult" nillable="true" type="q33:DocumentFileLoadWebResponse"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="DeleteDocumentFile">
<xs:complexType>
<xs:sequence>
<xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Messaging.DocumentFileOperation" minOccurs="0" name="request" nillable="true" type="q34:DocumentFileDeleteRequest"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="DeleteDocumentFileResponse">
<xs:complexType>
<xs:sequence>
<xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Messaging" minOccurs="0" name="DeleteDocumentFileResult" nillable="true" type="q35:ArabdoxOpreationResponse"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="CreateDocumentEx">
<xs:complexType>
<xs:sequence>
<xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Messaging.DocumentOperation" minOccurs="0" name="request" nillable="true" type="q36:DocumentCreateFullRequest"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="CreateDocumentExResponse">
<xs:complexType>
<xs:sequence>
<xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Messaging.DocumentOperation" minOccurs="0" name="CreateDocumentExResult" nillable="true" type="q37:DocumentCreateResponse"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="AddLinkedDocuments">
<xs:complexType>
<xs:sequence>
<xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Messaging" minOccurs="0" name="request" nillable="true" type="q38:LinkedDocumentsAddRequest"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="AddLinkedDocumentsResponse">
<xs:complexType>
<xs:sequence>
<xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Messaging" minOccurs="0" name="AddLinkedDocumentsResult" nillable="true" type="q39:ArabdoxOpreationResponse"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="DocumentFileAddRequestEx">
<xs:complexType>
<xs:sequence>
<xs:element xmlns:q40="http://schemas.microsoft.com/Message" name="InputFile" type="q40:StreamBody"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Messaging" name="DocumentInformation" nillable="true" type="q41:DocumentInfo"/>
<xs:element name="DocumentFileAddResponse">
<xs:complexType>
<xs:sequence>
<xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Enum" minOccurs="0" name="ErrorCode" type="q42:ErrorCode"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Enum" name="ResponseType" type="q43:ResponseType"/>
</xs:schema>