SSAS/Development/EJBServer/components/MOLSA/axis/ArabdoxIntegration/xsd10.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Messaging.DocumentFileOperation" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Messaging.DocumentFileOperation">
<xs:import schemaLocation="http://sakhr-daf-02mos:8080/ArabdoxIntegration?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Enum"/>
<xs:import schemaLocation="http://sakhr-daf-02mos:8080/ArabdoxIntegration?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Domain"/>
<xs:import schemaLocation="http://sakhr-daf-02mos:8080/ArabdoxIntegration?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Model"/>
<xs:complexType name="DocumentFilesGetRequest">
<xs:complexContent mixed="false">
<xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Domain" base="q1:ValueObjectOfDocumentFilesGetRequestr0CyN07x">
<xs:sequence>
<xs:element name="ArabdoxSessionKey" nillable="true" type="xs:string"/>
<xs:element name="DocumentId" type="xs:int"/>
<xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Enum" name="FileType" type="q2:FileType"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:element name="DocumentFilesGetRequest" nillable="true" type="tns:DocumentFilesGetRequest"/>
<xs:complexType name="DocumentFilesGetResponse">
<xs:complexContent mixed="false">
<xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Domain" base="q3:ResponseBase">
<xs:sequence>
<xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Model" minOccurs="0" name="Files" nillable="true" type="q4:ArrayOfDocumentFile"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:element name="DocumentFilesGetResponse" nillable="true" type="tns:DocumentFilesGetResponse"/>
<xs:complexType name="DocumentLoadInformation">
<xs:sequence>
<xs:element minOccurs="0" name="ArabdoxSessionKey" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="DocumentId" type="xs:int"/>
<xs:element minOccurs="0" name="FileId" type="xs:int"/>
<xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Enum" minOccurs="0" name="FileType" type="q5:FileType"/>
</xs:sequence>
</xs:complexType>
<xs:element name="DocumentLoadInformation" nillable="true" type="tns:DocumentLoadInformation"/>
<xs:complexType name="LoadResponseInfo">
<xs:sequence>
<xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Enum" minOccurs="0" name="ErrorCode" type="q6:ErrorCode"/>
<xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string"/>
<xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Enum" minOccurs="0" name="ResponseType" type="q7:ResponseType"/>
</xs:sequence>
</xs:complexType>
<xs:element name="LoadResponseInfo" nillable="true" type="tns:LoadResponseInfo"/>
<xs:complexType name="DocumentFileWebLoadRequest">
<xs:complexContent mixed="false">
<xs:extension xmlns:q8="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Domain" base="q8:ValueObjectOfDocumentFileWebLoadRequestr0CyN07x">
<xs:sequence>
<xs:element minOccurs="0" name="ArabdoxSessionKey" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="DocumentId" type="xs:int"/>
<xs:element minOccurs="0" name="FileId" type="xs:int"/>
<xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Enum" minOccurs="0" name="FileType" type="q9:FileType"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:element name="DocumentFileWebLoadRequest" nillable="true" type="tns:DocumentFileWebLoadRequest"/>
<xs:complexType name="DocumentFileLoadWebResponse">
<xs:complexContent mixed="false">
<xs:extension xmlns:q10="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Domain" base="q10:ResponseBase">
<xs:sequence>
<xs:element minOccurs="0" name="FileUrl" nillable="true" type="xs:string"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:element name="DocumentFileLoadWebResponse" nillable="true" type="tns:DocumentFileLoadWebResponse"/>
<xs:complexType name="DocumentFileDeleteRequest">
<xs:complexContent mixed="false">
<xs:extension xmlns:q11="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Domain" base="q11:ValueObjectOfDocumentFileDeleteRequestr0CyN07x">
<xs:sequence>
<xs:element name="ArabdoxSessionKey" nillable="true" type="xs:string"/>
<xs:element name="DocumentId" type="xs:int"/>
<xs:element minOccurs="0" name="FileId" type="xs:int"/>
<xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Enum" minOccurs="0" name="FileType" type="q12:FileType"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:element name="DocumentFileDeleteRequest" nillable="true" type="tns:DocumentFileDeleteRequest"/>
</xs:schema>