SSAS/Development/EJBServer/components/MOLSA/axis/ArabdoxIntegration/xsd3.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Domain" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Domain">
<xs:import schemaLocation="http://sakhr-daf-02mos:8080/ArabdoxIntegration?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Enum"/>
<xs:complexType name="ValueObjectOfLoginRequestsm3tYhn1">
<xs:annotation>
<xs:appinfo>
<GenericType xmlns="http://schemas.microsoft.com/2003/10/Serialization/" Name="ValueObjectOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Domain">
<GenericParameter Name="LoginRequest" Namespace="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Messaging.SessionOperation"/>
</GenericType>
</xs:appinfo>
</xs:annotation>
<xs:sequence/>
</xs:complexType>
<xs:element name="ValueObjectOfLoginRequestsm3tYhn1" nillable="true" type="tns:ValueObjectOfLoginRequestsm3tYhn1"/>
<xs:complexType name="ResponseBase">
<xs:sequence>
<xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Enum" minOccurs="0" name="ErrorCode" type="q1:ErrorCode"/>
<xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Enum" minOccurs="0" name="ResponseType" type="q2:ResponseType"/>
</xs:sequence>
</xs:complexType>
<xs:element name="ResponseBase" nillable="true" type="tns:ResponseBase"/>
<xs:complexType name="ValueObjectOfLogoutRequestsm3tYhn1">
<xs:annotation>
<xs:appinfo>
<GenericType xmlns="http://schemas.microsoft.com/2003/10/Serialization/" Name="ValueObjectOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Domain">
<GenericParameter Name="LogoutRequest" Namespace="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Messaging.SessionOperation"/>
</GenericType>
</xs:appinfo>
</xs:annotation>
<xs:sequence/>
</xs:complexType>
<xs:element name="ValueObjectOfLogoutRequestsm3tYhn1" nillable="true" type="tns:ValueObjectOfLogoutRequestsm3tYhn1"/>
<xs:complexType name="ValueObjectOfCabinetsGetRequestiaZc_PMyZ">
<xs:annotation>
<xs:appinfo>
<GenericType xmlns="http://schemas.microsoft.com/2003/10/Serialization/" Name="ValueObjectOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Domain">
<GenericParameter Name="CabinetsGetRequest" Namespace="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Messaging.FolderOperation"/>
</GenericType>
</xs:appinfo>
</xs:annotation>
<xs:sequence/>
</xs:complexType>
<xs:element name="ValueObjectOfCabinetsGetRequestiaZc_PMyZ" nillable="true" type="tns:ValueObjectOfCabinetsGetRequestiaZc_PMyZ"/>
<xs:complexType name="ValueObjectOfFoldersGetRequestiaZc_PMyZ">
<xs:annotation>
<xs:appinfo>
<GenericType xmlns="http://schemas.microsoft.com/2003/10/Serialization/" Name="ValueObjectOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Domain">
<GenericParameter Name="FoldersGetRequest" Namespace="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Messaging.FolderOperation"/>
</GenericType>
</xs:appinfo>
</xs:annotation>
<xs:sequence/>
</xs:complexType>
<xs:element name="ValueObjectOfFoldersGetRequestiaZc_PMyZ" nillable="true" type="tns:ValueObjectOfFoldersGetRequestiaZc_PMyZ"/>
<xs:complexType name="ValueObjectOfFolderCreateRequestiaZc_PMyZ">
<xs:annotation>
<xs:appinfo>
<GenericType xmlns="http://schemas.microsoft.com/2003/10/Serialization/" Name="ValueObjectOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Domain">
<GenericParameter Name="FolderCreateRequest" Namespace="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Messaging.FolderOperation"/>
</GenericType>
</xs:appinfo>
</xs:annotation>
<xs:sequence/>
</xs:complexType>
<xs:element name="ValueObjectOfFolderCreateRequestiaZc_PMyZ" nillable="true" type="tns:ValueObjectOfFolderCreateRequestiaZc_PMyZ"/>
<xs:complexType name="ValueObjectOfFolderDeleteRequestiaZc_PMyZ">
<xs:annotation>
<xs:appinfo>
<GenericType xmlns="http://schemas.microsoft.com/2003/10/Serialization/" Name="ValueObjectOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Domain">
<GenericParameter Name="FolderDeleteRequest" Namespace="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Messaging.FolderOperation"/>
</GenericType>
</xs:appinfo>
</xs:annotation>
<xs:sequence/>
</xs:complexType>
<xs:element name="ValueObjectOfFolderDeleteRequestiaZc_PMyZ" nillable="true" type="tns:ValueObjectOfFolderDeleteRequestiaZc_PMyZ"/>
<xs:complexType name="ValueObjectOfDocumentClassGetRequestzP09uzmG">
<xs:annotation>
<xs:appinfo>
<GenericType xmlns="http://schemas.microsoft.com/2003/10/Serialization/" Name="ValueObjectOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Domain">
<GenericParameter Name="DocumentClassGetRequest" Namespace="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Messaging.DocumentOperation"/>
</GenericType>
</xs:appinfo>
</xs:annotation>
<xs:sequence/>
</xs:complexType>
<xs:element name="ValueObjectOfDocumentClassGetRequestzP09uzmG" nillable="true" type="tns:ValueObjectOfDocumentClassGetRequestzP09uzmG"/>
<xs:complexType name="ValueObjectOfIndexFieldsDcGetRequestqwt_Pe6At">
<xs:annotation>
<xs:appinfo>
<GenericType xmlns="http://schemas.microsoft.com/2003/10/Serialization/" Name="ValueObjectOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Domain">
<GenericParameter Name="IndexFieldsDcGetRequest" Namespace="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Messaging.IndexFieldOperation"/>
</GenericType>
</xs:appinfo>
</xs:annotation>
<xs:sequence/>
</xs:complexType>
<xs:element name="ValueObjectOfIndexFieldsDcGetRequestqwt_Pe6At" nillable="true" type="tns:ValueObjectOfIndexFieldsDcGetRequestqwt_Pe6At"/>
<xs:complexType name="ValueObjectOfDocumentCreateRequestzP09uzmG">
<xs:annotation>
<xs:appinfo>
<GenericType xmlns="http://schemas.microsoft.com/2003/10/Serialization/" Name="ValueObjectOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Domain">
<GenericParameter Name="DocumentCreateRequest" Namespace="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Messaging.DocumentOperation"/>
</GenericType>
</xs:appinfo>
</xs:annotation>
<xs:sequence/>
</xs:complexType>
<xs:element name="ValueObjectOfDocumentCreateRequestzP09uzmG" nillable="true" type="tns:ValueObjectOfDocumentCreateRequestzP09uzmG"/>
<xs:complexType name="ValueObjectOfDocumentGetRequestzP09uzmG">
<xs:annotation>
<xs:appinfo>
<GenericType xmlns="http://schemas.microsoft.com/2003/10/Serialization/" Name="ValueObjectOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Domain">
<GenericParameter Name="DocumentGetRequest" Namespace="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Messaging.DocumentOperation"/>
</GenericType>
</xs:appinfo>
</xs:annotation>
<xs:sequence/>
</xs:complexType>
<xs:element name="ValueObjectOfDocumentGetRequestzP09uzmG" nillable="true" type="tns:ValueObjectOfDocumentGetRequestzP09uzmG"/>
<xs:complexType name="ValueObjectOfDocumentDeleteRequestzP09uzmG">
<xs:annotation>
<xs:appinfo>
<GenericType xmlns="http://schemas.microsoft.com/2003/10/Serialization/" Name="ValueObjectOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Domain">
<GenericParameter Name="DocumentDeleteRequest" Namespace="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Messaging.DocumentOperation"/>
</GenericType>
</xs:appinfo>
</xs:annotation>
<xs:sequence/>
</xs:complexType>
<xs:element name="ValueObjectOfDocumentDeleteRequestzP09uzmG" nillable="true" type="tns:ValueObjectOfDocumentDeleteRequestzP09uzmG"/>
<xs:complexType name="ValueObjectOfIndexFieldsDocumentGetRequestqwt_Pe6At">
<xs:annotation>
<xs:appinfo>
<GenericType xmlns="http://schemas.microsoft.com/2003/10/Serialization/" Name="ValueObjectOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Domain">
<GenericParameter Name="IndexFieldsDocumentGetRequest" Namespace="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Messaging.IndexFieldOperation"/>
</GenericType>
</xs:appinfo>
</xs:annotation>
<xs:sequence/>
</xs:complexType>
<xs:element name="ValueObjectOfIndexFieldsDocumentGetRequestqwt_Pe6At" nillable="true" type="tns:ValueObjectOfIndexFieldsDocumentGetRequestqwt_Pe6At"/>
<xs:complexType name="ValueObjectOfIndexFieldsSetRequestqwt_Pe6At">
<xs:annotation>
<xs:appinfo>
<GenericType xmlns="http://schemas.microsoft.com/2003/10/Serialization/" Name="ValueObjectOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Domain">
<GenericParameter Name="IndexFieldsSetRequest" Namespace="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Messaging.IndexFieldOperation"/>
</GenericType>
</xs:appinfo>
</xs:annotation>
<xs:sequence/>
</xs:complexType>
<xs:element name="ValueObjectOfIndexFieldsSetRequestqwt_Pe6At" nillable="true" type="tns:ValueObjectOfIndexFieldsSetRequestqwt_Pe6At"/>
<xs:complexType name="ValueObjectOfDocumentFilesGetRequestr0CyN07x">
<xs:annotation>
<xs:appinfo>
<GenericType xmlns="http://schemas.microsoft.com/2003/10/Serialization/" Name="ValueObjectOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Domain">
<GenericParameter Name="DocumentFilesGetRequest" Namespace="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Messaging.DocumentFileOperation"/>
</GenericType>
</xs:appinfo>
</xs:annotation>
<xs:sequence/>
</xs:complexType>
<xs:element name="ValueObjectOfDocumentFilesGetRequestr0CyN07x" nillable="true" type="tns:ValueObjectOfDocumentFilesGetRequestr0CyN07x"/>
<xs:complexType name="ValueObjectOfDocumentFileWebLoadRequestr0CyN07x">
<xs:annotation>
<xs:appinfo>
<GenericType xmlns="http://schemas.microsoft.com/2003/10/Serialization/" Name="ValueObjectOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Domain">
<GenericParameter Name="DocumentFileWebLoadRequest" Namespace="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Messaging.DocumentFileOperation"/>
</GenericType>
</xs:appinfo>
</xs:annotation>
<xs:sequence/>
</xs:complexType>
<xs:element name="ValueObjectOfDocumentFileWebLoadRequestr0CyN07x" nillable="true" type="tns:ValueObjectOfDocumentFileWebLoadRequestr0CyN07x"/>
<xs:complexType name="ValueObjectOfDocumentFileDeleteRequestr0CyN07x">
<xs:annotation>
<xs:appinfo>
<GenericType xmlns="http://schemas.microsoft.com/2003/10/Serialization/" Name="ValueObjectOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Domain">
<GenericParameter Name="DocumentFileDeleteRequest" Namespace="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Messaging.DocumentFileOperation"/>
</GenericType>
</xs:appinfo>
</xs:annotation>
<xs:sequence/>
</xs:complexType>
<xs:element name="ValueObjectOfDocumentFileDeleteRequestr0CyN07x" nillable="true" type="tns:ValueObjectOfDocumentFileDeleteRequestr0CyN07x"/>
<xs:complexType name="ValueObjectOfDocumentCreateFullRequestzP09uzmG">
<xs:annotation>
<xs:appinfo>
<GenericType xmlns="http://schemas.microsoft.com/2003/10/Serialization/" Name="ValueObjectOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Domain">
<GenericParameter Name="DocumentCreateFullRequest" Namespace="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Messaging.DocumentOperation"/>
</GenericType>
</xs:appinfo>
</xs:annotation>
<xs:sequence/>
</xs:complexType>
<xs:element name="ValueObjectOfDocumentCreateFullRequestzP09uzmG" nillable="true" type="tns:ValueObjectOfDocumentCreateFullRequestzP09uzmG"/>
<xs:complexType name="ValueObjectOfLinkedDocumentsAddRequestOgJRTGXb">
<xs:annotation>
<xs:appinfo>
<GenericType xmlns="http://schemas.microsoft.com/2003/10/Serialization/" Name="ValueObjectOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Domain">
<GenericParameter Name="LinkedDocumentsAddRequest" Namespace="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Messaging"/>
</GenericType>
</xs:appinfo>
</xs:annotation>
<xs:sequence/>
</xs:complexType>
<xs:element name="ValueObjectOfLinkedDocumentsAddRequestOgJRTGXb" nillable="true" type="tns:ValueObjectOfLinkedDocumentsAddRequestOgJRTGXb"/>
</xs:schema>