SSAS/Development/EJBServer/components/MOLSA/axis/ArabdoxIntegration/xsd4.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Enum" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Enum">
<xs:import schemaLocation="http://sakhr-daf-02mos:8080/ArabdoxIntegration?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/"/>
<xs:simpleType name="ErrorCode">
<xs:restriction base="xs:string">
<xs:enumeration value="None"/>
<xs:enumeration value="InputRequestError"/>
<xs:enumeration value="InvalidLoginCredentials"/>
<xs:enumeration value="ErrorWhileExecutingOperation"/>
<xs:enumeration value="LogoutFailed"/>
<xs:enumeration value="SessionExpired"/>
<xs:enumeration value="NoDocumentClasses"/>
<xs:enumeration value="ErrorRetreivingContainer"/>
<xs:enumeration value="CannotDeleteFolder"/>
<xs:enumeration value="CannotDeleteDocument"/>
<xs:enumeration value="FolderIdIsInvalid"/>
<xs:enumeration value="CannotParseIndexField"/>
<xs:enumeration value="IndexFieldNotFound"/>
<xs:enumeration value="NoIndexFieldsFound"/>
<xs:enumeration value="InvalidDocumentId"/>
<xs:enumeration value="FileNotFoundInsideDocument"/>
<xs:enumeration value="CannotDeleteFileFromDocument"/>
</xs:restriction>
</xs:simpleType>
<xs:element name="ErrorCode" nillable="true" type="tns:ErrorCode"/>
<xs:simpleType name="ResponseType">
<xs:restriction base="xs:string">
<xs:enumeration value="Success"/>
<xs:enumeration value="Error"/>
</xs:restriction>
</xs:simpleType>
<xs:element name="ResponseType" nillable="true" type="tns:ResponseType"/>
<xs:simpleType name="ContainerType">
<xs:restriction base="xs:string">
<xs:enumeration value="Cabinet"/>
<xs:enumeration value="Folder"/>
</xs:restriction>
</xs:simpleType>
<xs:element name="ContainerType" nillable="true" type="tns:ContainerType"/>
<xs:simpleType name="DateFormat">
<xs:restriction base="xs:string">
<xs:enumeration value="NONE"/>
<xs:enumeration value="MM_dd_yy"/>
<xs:enumeration value="MM_dd_yyyy"/>
<xs:enumeration value="dd_MM_yy"/>
<xs:enumeration value="dd_MM_yyyy"/>
<xs:enumeration value="M_d_yy"/>
<xs:enumeration value="M_d_yyyy"/>
<xs:enumeration value="d_M_yy"/>
<xs:enumeration value="d_M_yyyy"/>
<xs:enumeration value="yy_MM_dd"/>
<xs:enumeration value="dd_MMM_yy"/>
<xs:enumeration value="dd_MMMM_yyyy"/>
<xs:enumeration value="ddd_dd_MMM_yyyy"/>
</xs:restriction>
</xs:simpleType>
<xs:element name="DateFormat" nillable="true" type="tns:DateFormat"/>
<xs:simpleType name="IndexFieldType">
<xs:restriction base="xs:string">
<xs:enumeration value="None"/>
<xs:enumeration value="Integer"/>
<xs:enumeration value="Number"/>
<xs:enumeration value="Text"/>
<xs:enumeration value="Float"/>
<xs:enumeration value="Double"/>
<xs:enumeration value="Date"/>
<xs:enumeration value="Sequence">
<xs:annotation>
<xs:appinfo>
<EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">8</EnumerationValue>
</xs:appinfo>
</xs:annotation>
</xs:enumeration>
</xs:restriction>
</xs:simpleType>
<xs:element name="IndexFieldType" nillable="true" type="tns:IndexFieldType"/>
<xs:simpleType name="FileType">
<xs:restriction base="xs:string">
<xs:enumeration value="Image"/>
<xs:enumeration value="Attachment"/>
</xs:restriction>
</xs:simpleType>
<xs:element name="FileType" nillable="true" type="tns:FileType"/>
</xs:schema>