SSAS/Development/EJBServer/components/MOLSA/axis/ArabdoxIntegration/xsd5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Messaging.FolderOperation" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Messaging.FolderOperation">
	<xs:import schemaLocation="xsd3.xsd" namespace="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Domain"/>
	<xs:import schemaLocation="xsd6.xsd" namespace="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Model"/>
	<xs:import schemaLocation="xsd4.xsd" namespace="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Enum"/>
	<xs:complexType name="CabinetsGetRequest">
		<xs:complexContent mixed="false">
			<xs:extension base="q1:ValueObjectOfCabinetsGetRequestiaZc_PMyZ" xmlns:q1="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Domain">
				<xs:sequence>
					<xs:element name="ArabdoxSessionKey" nillable="true" type="xs:string"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="CabinetsGetRequest" nillable="true" type="tns:CabinetsGetRequest"/>
	<xs:complexType name="ArabdoxConatinerGetResponse">
		<xs:complexContent mixed="false">
			<xs:extension base="q2:ResponseBase" xmlns:q2="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Domain">
				<xs:sequence>
					<xs:element minOccurs="0" name="ArabdoxContainers" nillable="true" type="q3:ArrayOfArabdoxContainer" xmlns:q3="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Model"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="ArabdoxConatinerGetResponse" nillable="true" type="tns:ArabdoxConatinerGetResponse"/>
	<xs:complexType name="FoldersGetRequest">
		<xs:complexContent mixed="false">
			<xs:extension base="q4:ValueObjectOfFoldersGetRequestiaZc_PMyZ" xmlns:q4="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Domain">
				<xs:sequence>
					<xs:element name="ArabdoxSessionKey" nillable="true" type="xs:string"/>
					<xs:element name="ParentContainerId" type="xs:int"/>
					<xs:element minOccurs="0" name="ParentContainerType" type="q5:ContainerType" xmlns:q5="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Enum"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="FoldersGetRequest" nillable="true" type="tns:FoldersGetRequest"/>
	<xs:complexType name="FolderCreateRequest">
		<xs:complexContent mixed="false">
			<xs:extension base="q6:ValueObjectOfFolderCreateRequestiaZc_PMyZ" xmlns:q6="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Domain">
				<xs:sequence>
					<xs:element name="ArabdoxSessionKey" nillable="true" type="xs:string"/>
					<xs:element name="FolderName" nillable="true" type="xs:string"/>
					<xs:element name="ParentContainer" nillable="true" type="q7:ArabdoxContainer" xmlns:q7="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Model"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="FolderCreateRequest" nillable="true" type="tns:FolderCreateRequest"/>
	<xs:complexType name="FolderCreateResponse">
		<xs:complexContent mixed="false">
			<xs:extension base="q8:ResponseBase" xmlns:q8="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Domain">
				<xs:sequence>
					<xs:element minOccurs="0" name="CreatedFolder" nillable="true" type="q9:ArabdoxContainer" xmlns:q9="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Model"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="FolderCreateResponse" nillable="true" type="tns:FolderCreateResponse"/>
	<xs:complexType name="FolderDeleteRequest">
		<xs:complexContent mixed="false">
			<xs:extension base="q10:ValueObjectOfFolderDeleteRequestiaZc_PMyZ" xmlns:q10="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Domain">
				<xs:sequence>
					<xs:element name="ArabdoxSessionKey" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="FolderId" type="xs:int"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="FolderDeleteRequest" nillable="true" type="tns:FolderDeleteRequest"/>
</xs:schema>