SSAS/Development/EJBServer/components/MOLSA/axis/ArabdoxIntegration/xsd8.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Messaging.DocumentOperation" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Messaging.DocumentOperation">
	<xs:import schemaLocation="xsd3.xsd" namespace="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Domain"/>
	<xs:import schemaLocation="xsd6.xsd" namespace="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Model"/>
	<xs:import schemaLocation="xsd12.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/>
	<xs:complexType name="DocumentClassGetRequest">
		<xs:complexContent mixed="false">
			<xs:extension base="q1:ValueObjectOfDocumentClassGetRequestzP09uzmG" xmlns:q1="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Domain">
				<xs:sequence>
					<xs:element name="ArabdoxSessionKey" nillable="true" type="xs:string"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="DocumentClassGetRequest" nillable="true" type="tns:DocumentClassGetRequest"/>
	<xs:complexType name="DocumentClassGetResponse">
		<xs:complexContent mixed="false">
			<xs:extension base="q2:ResponseBase" xmlns:q2="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Domain">
				<xs:sequence>
					<xs:element minOccurs="0" name="DocumentClasses" nillable="true" type="q3:ArrayOfDocumentClass" xmlns:q3="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Model"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="DocumentClassGetResponse" nillable="true" type="tns:DocumentClassGetResponse"/>
	<xs:complexType name="DocumentCreateRequest">
		<xs:complexContent mixed="false">
			<xs:extension base="q4:ValueObjectOfDocumentCreateRequestzP09uzmG" xmlns:q4="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Domain">
				<xs:sequence>
					<xs:element name="ArabdoxSessionKey" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="Description" nillable="true" type="xs:string"/>
					<xs:element name="DocumentClassId" type="xs:int"/>
					<xs:element name="DocumentName" nillable="true" type="xs:string"/>
					<xs:element name="FolderId" type="xs:int"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="DocumentCreateRequest" nillable="true" type="tns:DocumentCreateRequest"/>
	<xs:complexType name="DocumentCreateResponse">
		<xs:complexContent mixed="false">
			<xs:extension base="q5:ResponseBase" xmlns:q5="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Domain">
				<xs:sequence>
					<xs:element minOccurs="0" name="CreatedDocumentId" type="xs:int"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="DocumentCreateResponse" nillable="true" type="tns:DocumentCreateResponse"/>
	<xs:complexType name="DocumentGetRequest">
		<xs:complexContent mixed="false">
			<xs:extension base="q6:ValueObjectOfDocumentGetRequestzP09uzmG" xmlns:q6="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Domain">
				<xs:sequence>
					<xs:element name="ArabdoxSessionKey" nillable="true" type="xs:string"/>
					<xs:element name="DocumentId" type="xs:int"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="DocumentGetRequest" nillable="true" type="tns:DocumentGetRequest"/>
	<xs:complexType name="DocumentGetResponse">
		<xs:complexContent mixed="false">
			<xs:extension base="q7:ResponseBase" xmlns:q7="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Domain">
				<xs:sequence>
					<xs:element minOccurs="0" name="Document" nillable="true" type="q8:DocumentInstance" xmlns:q8="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Model"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="DocumentGetResponse" nillable="true" type="tns:DocumentGetResponse"/>
	<xs:complexType name="DocumentDeleteRequest">
		<xs:complexContent mixed="false">
			<xs:extension base="q9:ValueObjectOfDocumentDeleteRequestzP09uzmG" xmlns:q9="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Domain">
				<xs:sequence>
					<xs:element name="ArabdoxSessionKey" nillable="true" type="xs:string"/>
					<xs:element name="DocumentId" type="xs:int"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="DocumentDeleteRequest" nillable="true" type="tns:DocumentDeleteRequest"/>
	<xs:complexType name="DocumentCreateFullRequest">
		<xs:complexContent mixed="false">
			<xs:extension base="q10:ValueObjectOfDocumentCreateFullRequestzP09uzmG" xmlns:q10="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Domain">
				<xs:sequence>
					<xs:element name="ArabdoxSessionKey" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="Description" nillable="true" type="xs:string"/>
					<xs:element name="DocumentClassId" type="xs:int"/>
					<xs:element minOccurs="0" name="DocumentIdentificationKey" nillable="true" type="xs:string"/>
					<xs:element name="DocumentName" nillable="true" type="xs:string"/>
					<xs:element name="FolderId" type="xs:int"/>
					<xs:element minOccurs="0" name="IndexFields" nillable="true" type="q11:ArrayOfIndexField" xmlns:q11="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Model"/>
					<xs:element minOccurs="0" name="LinkedDocuments" nillable="true" type="q12:ArrayOfint" xmlns:q12="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="DocumentCreateFullRequest" nillable="true" type="tns:DocumentCreateFullRequest"/>
</xs:schema>