SSAS/Development/EJBServer/components/MOLSA/axis/ArabdoxIntegration/xsd8.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Messaging.DocumentOperation" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Messaging.DocumentOperation">
<xs:import schemaLocation="http://sakhr-daf-02mos:8080/ArabdoxIntegration?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Domain"/>
<xs:import schemaLocation="http://sakhr-daf-02mos:8080/ArabdoxIntegration?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Model"/>
<xs:import schemaLocation="http://sakhr-daf-02mos:8080/ArabdoxIntegration?xsd=xsd12" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/>
<xs:complexType name="DocumentClassGetRequest">
<xs:complexContent mixed="false">
<xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Domain" base="q1:ValueObjectOfDocumentClassGetRequestzP09uzmG">
<xs:sequence>
<xs:element name="ArabdoxSessionKey" nillable="true" type="xs:string"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:element name="DocumentClassGetRequest" nillable="true" type="tns:DocumentClassGetRequest"/>
<xs:complexType name="DocumentClassGetResponse">
<xs:complexContent mixed="false">
<xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Domain" base="q2:ResponseBase">
<xs:sequence>
<xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Model" minOccurs="0" name="DocumentClasses" nillable="true" type="q3:ArrayOfDocumentClass"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:element name="DocumentClassGetResponse" nillable="true" type="tns:DocumentClassGetResponse"/>
<xs:complexType name="DocumentCreateRequest">
<xs:complexContent mixed="false">
<xs:extension xmlns:q4="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Domain" base="q4:ValueObjectOfDocumentCreateRequestzP09uzmG">
<xs:sequence>
<xs:element name="ArabdoxSessionKey" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="Description" nillable="true" type="xs:string"/>
<xs:element name="DocumentClassId" type="xs:int"/>
<xs:element name="DocumentName" nillable="true" type="xs:string"/>
<xs:element name="FolderId" type="xs:int"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:element name="DocumentCreateRequest" nillable="true" type="tns:DocumentCreateRequest"/>
<xs:complexType name="DocumentCreateResponse">
<xs:complexContent mixed="false">
<xs:extension xmlns:q5="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Domain" base="q5:ResponseBase">
<xs:sequence>
<xs:element minOccurs="0" name="CreatedDocumentId" type="xs:int"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:element name="DocumentCreateResponse" nillable="true" type="tns:DocumentCreateResponse"/>
<xs:complexType name="DocumentGetRequest">
<xs:complexContent mixed="false">
<xs:extension xmlns:q6="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Domain" base="q6:ValueObjectOfDocumentGetRequestzP09uzmG">
<xs:sequence>
<xs:element name="ArabdoxSessionKey" nillable="true" type="xs:string"/>
<xs:element name="DocumentId" type="xs:int"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:element name="DocumentGetRequest" nillable="true" type="tns:DocumentGetRequest"/>
<xs:complexType name="DocumentGetResponse">
<xs:complexContent mixed="false">
<xs:extension xmlns:q7="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Domain" base="q7:ResponseBase">
<xs:sequence>
<xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Model" minOccurs="0" name="Document" nillable="true" type="q8:DocumentInstance"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:element name="DocumentGetResponse" nillable="true" type="tns:DocumentGetResponse"/>
<xs:complexType name="DocumentDeleteRequest">
<xs:complexContent mixed="false">
<xs:extension xmlns:q9="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Domain" base="q9:ValueObjectOfDocumentDeleteRequestzP09uzmG">
<xs:sequence>
<xs:element name="ArabdoxSessionKey" nillable="true" type="xs:string"/>
<xs:element name="DocumentId" type="xs:int"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:element name="DocumentDeleteRequest" nillable="true" type="tns:DocumentDeleteRequest"/>
<xs:complexType name="DocumentCreateFullRequest">
<xs:complexContent mixed="false">
<xs:extension xmlns:q10="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Domain" base="q10:ValueObjectOfDocumentCreateFullRequestzP09uzmG">
<xs:sequence>
<xs:element name="ArabdoxSessionKey" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="Description" nillable="true" type="xs:string"/>
<xs:element name="DocumentClassId" type="xs:int"/>
<xs:element minOccurs="0" name="DocumentIdentificationKey" nillable="true" type="xs:string"/>
<xs:element name="DocumentName" nillable="true" type="xs:string"/>
<xs:element name="FolderId" type="xs:int"/>
<xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Sakhr.ArabdoxIntegration.Contract.Model" minOccurs="0" name="IndexFields" nillable="true" type="q11:ArrayOfIndexField"/>
<xs:element xmlns:q12="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="LinkedDocuments" nillable="true" type="q12:ArrayOfint"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:element name="DocumentCreateFullRequest" nillable="true" type="tns:DocumentCreateFullRequest"/>
</xs:schema>