SSAS/Development/CuramCDEJ/lib/curam/xml/schema/ieg-questions.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  Licensed Materials - Property of IBM

  Copyright IBM Corporation 2012. All Rights Reserved.

  US Government Users Restricted Rights - Use, duplication or disclosure
  restricted by GSA ADP Schedule Contract with IBM Corp.
-->
<!--W3C Schema generated by XMLSPY v5 rel. 4 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="PreviousPage">
    <xs:complexType>
      <xs:attribute name="id" type="xs:string" use="required"/>
      <xs:attribute name="name" type="xs:string" use="required"/>
      <xs:attribute name="description" type="xs:string" use="required"/>
      <xs:attribute name="loopindex" type="xs:integer" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Question">
    <xs:complexType>
      <xs:attribute name="id" type="xs:string" use="required"/>
      <xs:attribute name="loopindex" type="xs:integer" use="required"/>
      <xs:attribute name="label" type="xs:string" use="required"/>
      <xs:attribute name="text" type="xs:string" use="required"/>
      <xs:attribute name="description" type="xs:string" use="required"/>
      <xs:attribute name="expectedtype" type="xs:string" use="required"/>
      <xs:attribute name="defaultanswer" type="xs:string" use="required"/>
      <xs:attribute name="recordunanswered" type="xs:boolean" use="required"/>
      <xs:attribute name="unanswered" type="xs:boolean" use="required"/>
      <xs:attribute name="legislationlink" type="xs:anyURI" use="required"/>
      <xs:attribute name="policylink" type="xs:anyURI" use="required"/>
      <xs:attribute name="mandatory" type="xs:boolean" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="QuestionPage">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Question" maxOccurs="unbounded"/>
        <xs:element ref="PreviousPage" maxOccurs="unbounded"/>
        <xs:element ref="UnansweredQuestion" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="id" type="xs:string" use="required"/>
      <xs:attribute name="loopindex" type="xs:integer" use="required"/>
      <xs:attribute name="loopsize" type="xs:integer" use="required"/>
      <xs:attribute name="name" type="xs:string" use="required"/>
      <xs:attribute name="description" type="xs:string" use="required"/>
      <xs:attribute name="legislationlink" type="xs:anyURI" use="required"/>
      <xs:attribute name="policylink" type="xs:anyURI" use="required"/>
      <xs:attribute name="scriptnotes" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnansweredQuestion">
    <xs:complexType>
      <xs:attribute name="pageid" type="xs:string" use="required"/>
      <xs:attribute name="pagename" type="xs:string" use="required"/>
      <xs:attribute name="pageloopindex" type="xs:integer" use="required"/>
      <xs:attribute name="questionid" type="xs:string" use="required"/>
      <xs:attribute name="label" type="xs:string" use="required"/>
      <xs:attribute name="text" type="xs:string" use="required"/>
      <xs:attribute name="questionloopindex" type="xs:integer" use="required"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
