SSAS/Development/CuramCDEJ/lib/curam/xml/schema/ieg-summary.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  Licensed Materials - Property of IBM

  Copyright IBM Corporation 2012. All Rights Reserved.

  US Government Users Restricted Rights - Use, duplication or disclosure
  restricted by GSA ADP Schedule Contract with IBM Corp.
-->
<!--W3C Schema generated by XMLSPY v5 rel. 4 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="IEGScriptSummary">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="QuestionPage" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="id" type="xs:string" use="required"/>
      <xs:attribute name="name" type="xs:string" use="required"/>
      <xs:attribute name="scriptnotes" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Question">
    <xs:complexType>
      <xs:attribute name="questionid" type="xs:string" use="required"/>
      <xs:attribute name="loopindex" type="xs:string" use="required"/>
      <xs:attribute name="label" type="xs:string" use="required"/>
      <xs:attribute name="text" type="xs:string" use="required"/>
      <xs:attribute name="type" type="xs:string" use="required"/>
      <xs:attribute name="value" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="QuestionPage">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Question" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="id" type="xs:string" use="required"/>
      <xs:attribute name="loopindex" type="xs:string" use="required"/>
      <xs:attribute name="name" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
