SSAS/Development/CuramCDEJ/lib/curam/xml/schema/page-hierarchy.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  Licensed Materials - Property of IBM

  Copyright IBM Corporation 2012. All Rights Reserved.

  US Government Users Restricted Rights - Use, duplication or disclosure
  restricted by GSA ADP Schedule Contract with IBM Corp.
-->
<!-- edited with XMLSpy v2008 (http://www.altova.com) by PKiely (N/A) -->
<!--W3C Schema generated by XMLSpy v2008 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="PARAMETER">
    <xs:complexType>
      <xs:attribute name="NAME" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="TOOLBAR_REF">
    <xs:complexType>
      <xs:attribute name="FILE_NAME" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="TOOLBAR">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="GROUP" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SECTION_REF">
    <xs:complexType>
      <xs:attribute name="FILE_NAME" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="SECTION">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="MENU" maxOccurs="unbounded"/>
        <xs:element ref="MENU_REF" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute name="TITLE" type="xs:string" use="required"/>
      <xs:attribute name="PAGE_ID" type="xs:string" use="required"/>
      <xs:attribute name="ID" type="xs:string" use="required"/>
      <xs:attribute name="DESCRIPTION" type="xs:string" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="MENU_REF">
    <xs:complexType>
      <xs:attribute name="FILE_NAME" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="MENU">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="PARAMETER" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="LINK" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="FOLDER" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="NAVIGATION_MENU_LINK_ID" type="xs:string" use="optional"/>
      <xs:attribute name="ID" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="LINK">
    <xs:complexType>
      <xs:attribute name="USER_PREFS_PAGE" type="xs:boolean"/>
      <xs:attribute name="TITLE" type="xs:string" use="required"/>
      <xs:attribute name="SMALL_ICON" type="xs:string"/>
      <xs:attribute name="PAGE_ID" type="xs:string"/>
      <xs:attribute name="LOGOUT_PAGE" type="xs:boolean"/>
      <xs:attribute name="LARGE_ICON" type="xs:string"/>
      <xs:attribute name="HOME_PAGE" type="xs:boolean"/>
      <xs:attribute name="DESCRIPTION" type="xs:string"/>
      <xs:attribute name="ACCESSKEY" type="xs:string"/>
      <xs:attribute name="HIGHLIGHT_PAGE_ID" type="xs:string"/>
      <xs:attribute name="VISIBLE" type="xs:boolean"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="GROUP">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="LINK" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FOLDER">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="LINK" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="FOLDER" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="TITLE" type="xs:string" use="required"/>
      <xs:attribute name="PAGE_ID" type="xs:string" use="optional"/>
      <xs:attribute name="DESCRIPTION" type="xs:string" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="APPLICATION_REF">
    <xs:complexType>
      <xs:attribute name="FILE_NAME" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="APPLICATIONS">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="APPLICATION" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="APPLICATION_REF" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="APPLICATION">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="SECTION" maxOccurs="unbounded"/>
        <xs:sequence minOccurs="0">
          <xs:element ref="SECTION_REF" maxOccurs="unbounded"/>
          <xs:element ref="TOOLBAR_REF"/>
          <xs:element ref="TOOLBAR"/>
        </xs:sequence>
      </xs:sequence>
      <xs:attribute name="TITLE" type="xs:string" use="required"/>
      <xs:attribute name="ID" type="xs:string" use="required"/>
      <xs:attribute name="DESCRIPTION" type="xs:string" use="optional"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
